.body {
  /* background-color: #f4f7fa;  */
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333;
}

.main .general,
.main .media,
.main .pricing,
.main .additional {
  margin-top: 15px;
  background: #fff;
  padding: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: transform 0.1s ease-in-out;
}

.main .general:hover,
.main .media:hover,
.main .pricing:hover,
.main .additional:hover {
  transform: translateY(-5px);
}

/* Style the TextField component */
.main input {
  margin-bottom: 0px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}

.main .general .genText,
.main .media .medText,
.main .pricing .priText,
.main .additional .additionalText {
  font-weight: bold;
  font-size: medium;
}
.main input:focus {
  border-color: #007bff;
  outline: none;
}

.main button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.main label {
  display: block;
  /* margin-bottom: 5px;  */
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

.main button:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.upload-icon p,
.uploaded-icon p {
  margin: 0;
  font-size: 1rem;
  color: #666;
}

.upload-icon {
  color: #007bff;
}

.uploaded-icon {
  color: #333;
}

/* css for submit and reset button */
.subBtn {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.pricing .redio {
  display: flex;
  gap: 10px;
}

.pricing .redio label {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.pricing .redio label:hover {
  color: #357ae8;
}

.d-11 .Polaris-Frame{
  min-height: 0 !important;
}