
  .swiper-button-prev, .swiper-button-next {
    background-color: white; /* Change to match your needs */
    border: 2px solid #ccc; /* Border color */
    border-radius: 50%; /* Circular border */
    width: 28px; /* Diameter of the circle */
    height: 28px; /* Diameter of the circle */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
  }

  .swiper-button-prev:after, .swiper-button-next:after {
    font-size: smaller;
    color: #000;
}  