.Polaris-MediaCard__MediaContainer:not(.Polaris-MediaCard--portrait){
    /* width: 248px !important; */
    flex-basis: 23%;
}
.Polaris-MediaCard__InfoContainer:not(.Polaris-MediaCard--portrait) {
    flex-basis: unset;
    flex-basis: 77%;
}
.Polaris-Button--variantSecondary{
    color: var(--Text-Default, #202223);
    font-feature-settings: 'clig' off, 'liga' off;
    /* bodyMd-medium */
    font-family: "SF Pro Text";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}
.Polaris-Frame__Content{
    min-height: auto !important;
    max-height: auto !important;
    background: transparent;
}